In [8]:
import json

from flask import Flask, render_template
import pandas as pd
import requests
import numpy as np

# Census Data

In [171]:
url = "https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv"
r = requests.get(url, allow_redirects=True)
filename = "pop_us_counties.csv"
file = open(filename, 'wb')
file.write(r.content)
file.close()
df = pd.read_csv(filename, engine="python")
df.head(20)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,...,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,...,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,...,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,...,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,...,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952
5,50,3,6,1,9,Alabama,Blount County,57322,57322,57376,...,1.020788,0.208812,-1.650165,-0.347225,-2.049590,-1.338525,-1.391062,6.193562,-0.069229,1.124597
6,50,3,6,1,11,Alabama,Bullock County,10914,10911,10876,...,-7.102343,-21.994339,-6.954560,-6.334200,9.617198,-24.592888,-2.212709,-19.936786,-1.474201,-7.200986
7,50,3,6,1,13,Alabama,Butler County,20947,20940,20932,...,-7.216152,-3.636538,-7.896764,-14.478623,0.442445,-6.223913,-6.272714,-4.962406,-10.071105,-6.294941
8,50,3,6,1,15,Alabama,Calhoun County,118572,118526,118408,...,-4.167837,-6.148582,-4.588523,-5.255477,-4.027747,-3.215406,-3.471589,-1.654454,-0.488995,-4.044995
9,50,3,6,1,17,Alabama,Chambers County,34215,34169,34122,...,-7.927723,-1.379209,4.490952,2.520405,-3.787656,1.324055,-5.786747,2.134851,-1.515444,-7.748227
10,50,3,6,1,19,Alabama,Cherokee County,25989,25979,25963,...,11.721892,4.388666,2.310047,6.541607,-0.809061,-2.091929,5.398058,6.786497,12.929620,11.606972
11,50,3,6,1,21,Alabama,Chilton County,43643,43632,43653,...,4.153921,-1.236519,-3.964662,0.321064,0.686593,-2.058084,2.603750,4.227945,0.679633,4.944069
12,50,3,6,1,23,Alabama,Choctaw County,13859,13858,13849,...,-15.655731,-14.276349,-0.588841,-8.160237,-3.144419,-4.444779,-11.417263,-5.698883,-3.959935,-15.813075
13,50,3,6,1,25,Alabama,Clarke County,25833,25833,25766,...,-9.760202,-5.413510,-17.618541,-0.238673,-9.282413,-7.303983,-14.396998,-9.338264,-5.752277,-9.970551
14,50,3,6,1,27,Alabama,Clay County,13932,13930,13898,...,-0.904670,-10.947979,-16.444821,1.937551,4.544608,1.638368,1.566697,0.448716,-3.227744,-1.055449
15,50,3,6,1,29,Alabama,Cleburne County,14972,14972,15004,...,-5.748663,-5.679540,-4.359929,6.562866,2.866476,-3.273213,-1.411195,3.899553,7.422515,-6.483957
16,50,3,6,1,31,Alabama,Coffee County,49948,49955,50208,...,6.405093,1.291579,11.044938,-11.254935,-3.512996,4.388900,1.879313,10.033477,0.674354,7.057109
17,50,3,6,1,33,Alabama,Colbert County,54428,54428,54524,...,4.644202,1.558732,1.649726,1.833197,1.229459,1.873640,2.846282,5.641439,7.329146,5.968525
18,50,3,6,1,35,Alabama,Conecuh County,13228,13236,13236,...,-13.711565,-0.681019,-9.755726,-7.088374,-15.319082,1.577598,-11.915164,-2.165978,-8.170529,-13.629459
19,50,3,6,1,37,Alabama,Coosa County,11539,11756,11780,...,3.942551,-19.513453,-9.285214,-3.805310,-18.303351,-5.461745,-4.321243,-2.228102,-5.335330,5.162865

In [172]:
nyc_counties = ["Bronx County", "Kings County", "Queens County", "Richmond County", "New York County"]
df.loc[df["STNAME"]=="New York", ["CTYNAME"]] = df.loc[df["STNAME"]=="New York", ["CTYNAME"]].replace(nyc_counties, "New York City County")

In [173]:
df[(df['STNAME']=="New York")&(df["CTYNAME"]=="New York City County")]

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
1863,50,1,2,36,5,New York,New York City County,1385108,1384580,1387298,...,-21.894584,-2.329930,0.901443,-1.274077,-2.256675,-2.144937,-5.059593,-10.433124,-12.643801,-15.792055
1884,50,1,2,36,47,New York,New York City County,2504700,2504721,2509828,...,-17.884471,1.951830,0.642362,-2.753613,-4.599941,-7.294388,-9.957416,-14.573238,-14.558600,-14.691385
1891,50,1,2,36,61,New York,New York City County,1585873,1586381,1588767,...,-7.201265,6.150025,3.585789,-3.412067,-3.133048,-1.605270,-4.965909,-7.488348,-4.535926,-3.071435
1901,50,1,2,36,81,New York,New York City County,2230722,2230619,2234701,...,-18.456152,1.708616,0.170064,-0.608851,-2.041029,-3.824892,-6.680299,-11.349144,-14.892308,-14.091315
1903,50,1,2,36,85,New York,New York City County,468730,468730,469615,...,-3.357822,-2.056056,-5.687979,-1.033513,-3.433149,-2.336157,-0.105665,-0.292721,-1.678693,-2.711037

In [174]:
df.loc[(df['STNAME']=="New York")&(df['CTYNAME']=="New York City County"), "POPESTIMATE2019"] = df.loc[(df['STNAME']=="New York")&(df['CTYNAME']=="New York City County"), ["CTYNAME", "POPESTIMATE2019"]].groupby("CTYNAME", as_index=False).sum()["POPESTIMATE2019"].max()

In [175]:
df_counties = df[df['STNAME']!=df["CTYNAME"]].reset_index(drop=True)
print(sorted([name for name in df_counties.CTYNAME.values if "County" not in name]))
df_counties["CTYNAME"] = [" ".join(name.split(" ")[:-1]) for name in df_counties["CTYNAME"].values]
df_counties.rename(columns={'CTYNAME':'county', 'STNAME':'state', 'POPESTIMATE2019':'population'}, inplace=True)
col_subset = ['state', 'county', 'population']
df_counties = df_counties[col_subset]
#df_counties = df_counties.groupby(['state', 'county'], as_index=False).sum()
df_counties[(df_counties['state']=='New York')&(df_counties['county']=='New York City')]

['Acadia Parish', 'Aleutians East Borough', 'Aleutians West Census Area', 'Alexandria city', 'Allen Parish', 'Anchorage Municipality', 'Ascension Parish', 'Assumption Parish', 'Avoyelles Parish', 'Baltimore city', 'Beauregard Parish', 'Bethel Census Area', 'Bienville Parish', 'Bossier Parish', 'Bristol Bay Borough', 'Bristol city', 'Buena Vista city', 'Caddo Parish', 'Calcasieu Parish', 'Caldwell Parish', 'Cameron Parish', 'Carson City', 'Catahoula Parish', 'Charlottesville city', 'Chesapeake city', 'Claiborne Parish', 'Colonial Heights city', 'Concordia Parish', 'Covington city', 'Danville city', 'De Soto Parish', 'Denali Borough', 'Dillingham Census Area', 'East Baton Rouge Parish', 'East Carroll Parish', 'East Feliciana Parish', 'Emporia city', 'Evangeline Parish', 'Fairbanks North Star Borough', 'Fairfax city', 'Falls Church city', 'Franklin Parish', 'Franklin city', 'Fredericksburg city', 'Galax city', 'Grant Parish', 'Haines Borough', 'Hampton city', 'Harrisonburg city', 'Hoonah-Angoon Census Area', 'Hopewell city', 'Iberia Parish', 'Iberville Parish', 'Jackson Parish', 'Jefferson Davis Parish', 'Jefferson Parish', 'Juneau City and Borough', 'Kenai Peninsula Borough', 'Ketchikan Gateway Borough', 'Kodiak Island Borough', 'Kusilvak Census Area', 'LaSalle Parish', 'Lafayette Parish', 'Lafourche Parish', 'Lake and Peninsula Borough', 'Lexington city', 'Lincoln Parish', 'Livingston Parish', 'Lynchburg city', 'Madison Parish', 'Manassas Park city', 'Manassas city', 'Martinsville city', 'Matanuska-Susitna Borough', 'Morehouse Parish', 'Natchitoches Parish', 'Newport News city', 'Nome Census Area', 'Norfolk city', 'North Slope Borough', 'Northwest Arctic Borough', 'Norton city', 'Orleans Parish', 'Ouachita Parish', 'Petersburg Borough', 'Petersburg city', 'Plaquemines Parish', 'Pointe Coupee Parish', 'Poquoson city', 'Portsmouth city', 'Prince of Wales-Hyder Census Area', 'Radford city', 'Rapides Parish', 'Red River Parish', 'Richland Parish', 'Richmond city', 'Roanoke city', 'Sabine Parish', 'Salem city', 'Sitka City and Borough', 'Skagway Municipality', 'Southeast Fairbanks Census Area', 'St. Bernard Parish', 'St. Charles Parish', 'St. Helena Parish', 'St. James Parish', 'St. John the Baptist Parish', 'St. Landry Parish', 'St. Louis city', 'St. Martin Parish', 'St. Mary Parish', 'St. Tammany Parish', 'Staunton city', 'Suffolk city', 'Tangipahoa Parish', 'Tensas Parish', 'Terrebonne Parish', 'Union Parish', 'Valdez-Cordova Census Area', 'Vermilion Parish', 'Vernon Parish', 'Virginia Beach city', 'Washington Parish', 'Waynesboro city', 'Webster Parish', 'West Baton Rouge Parish', 'West Carroll Parish', 'West Feliciana Parish', 'Williamsburg city', 'Winchester city', 'Winn Parish', 'Wrangell City and Borough', 'Yakutat City and Borough', 'Yukon-Koyukuk Census Area']

         state         county  population
1829  New York  New York City     8336817
1850  New York  New York City     8336817
1857  New York  New York City     8336817
1867  New York  New York City     8336817
1869  New York  New York City     8336817

In [98]:
covid_df

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1       0
1      2020-01-22   Snohomish  Washington  53061.0      1       0
2      2020-01-23   Snohomish  Washington  53061.0      1       0
3      2020-01-24        Cook    Illinois  17031.0      1       0
4      2020-01-24   Snohomish  Washington  53061.0      1       0
...           ...         ...         ...      ...    ...     ...
38192  2020-04-06    Sublette     Wyoming  56035.0      1       0
38193  2020-04-06  Sweetwater     Wyoming  56037.0      5       0
38194  2020-04-06       Teton     Wyoming  56039.0     40       0
38195  2020-04-06       Uinta     Wyoming  56041.0      3       0
38196  2020-04-06    Washakie     Wyoming  56043.0      4       0

[38197 rows x 6 columns]

In [176]:
df_counties = df_counties.groupby(['state', 'county']).max()['population'].reset_index()
df_counties

        state      county  population
0     Alabama     Autauga       55869
1     Alabama     Baldwin      223234
2     Alabama     Barbour       24686
3     Alabama        Bibb       22394
4     Alabama      Blount       57826
...       ...         ...         ...
3126  Wyoming  Sweetwater       42343
3127  Wyoming       Teton       23464
3128  Wyoming       Uinta       20226
3129  Wyoming    Washakie        7805
3130  Wyoming      Weston        6927

[3131 rows x 3 columns]

In [178]:
len(df_counties[df_counties.state=="New York"].sort_values(by="population", ascending=False))

58

In [87]:
check_df = pd.merge(covid_df[['state', 'county']].drop_duplicates(keep='first'), df_counties, on=['state', 'county'], how="left")
check_df.to

              state       county  population
0        Washington    Snohomish    822083.0
1          Illinois         Cook   5150233.0
2        California       Orange   3175692.0
3           Arizona     Maricopa   4485414.0
4        California  Los Angeles  10039107.0
...             ...          ...         ...
2521     Washington      Unknown         NaN
2522  West Virginia        Lewis     15907.0
2523  West Virginia       Taylor     16695.0
2524      Wisconsin     Kewaunee     20434.0
2525      Wisconsin     Waushara     24443.0

[2526 rows x 3 columns]

In [88]:
covid_df[['state', 'county']].drop_duplicates(keep='first')

               state       county
0         Washington    Snohomish
3           Illinois         Cook
5         California       Orange
8            Arizona     Maricopa
9         California  Los Angeles
...              ...          ...
38080     Washington      Unknown
38096  West Virginia        Lewis
38113  West Virginia       Taylor
38146      Wisconsin     Kewaunee
38175      Wisconsin     Waushara

[2526 rows x 2 columns]

In [27]:
col_subset = ["SUMLEV", "REGION", "DIVISION", "STATE", "COUNTY", "STNAME", "CTYNAME", "POPESTIMATE2019"]

In [39]:
covid_df = pd.read_csv("covid_us_counties.csv")
covid_df

             date      county       state     fips  cases  deaths
0      2020-01-21   Snohomish  Washington  53061.0      1       0
1      2020-01-22   Snohomish  Washington  53061.0      1       0
2      2020-01-23   Snohomish  Washington  53061.0      1       0
3      2020-01-24        Cook    Illinois  17031.0      1       0
4      2020-01-24   Snohomish  Washington  53061.0      1       0
...           ...         ...         ...      ...    ...     ...
38192  2020-04-06    Sublette     Wyoming  56035.0      1       0
38193  2020-04-06  Sweetwater     Wyoming  56037.0      5       0
38194  2020-04-06       Teton     Wyoming  56039.0     40       0
38195  2020-04-06       Uinta     Wyoming  56041.0      3       0
38196  2020-04-06    Washakie     Wyoming  56043.0      4       0

[38197 rows x 6 columns]

In [83]:
covid_pop_df = pd.merge(covid_df, df_counties[col_subset], on=["state", "county"], how="left")
covid_pop_df.rename(columns={"POPESTIMATE2019":"population"}, inplace=True)
covid_pop_df

             date      county       state     fips  cases  deaths  population
0      2020-01-21   Snohomish  Washington  53061.0      1       0    822083.0
1      2020-01-22   Snohomish  Washington  53061.0      1       0    822083.0
2      2020-01-23   Snohomish  Washington  53061.0      1       0    822083.0
3      2020-01-24        Cook    Illinois  17031.0      1       0   5150233.0
4      2020-01-24   Snohomish  Washington  53061.0      1       0    822083.0
...           ...         ...         ...      ...    ...     ...         ...
38192  2020-04-06    Sublette     Wyoming  56035.0      1       0      9831.0
38193  2020-04-06  Sweetwater     Wyoming  56037.0      5       0     42343.0
38194  2020-04-06       Teton     Wyoming  56039.0     40       0     23464.0
38195  2020-04-06       Uinta     Wyoming  56041.0      3       0     20226.0
38196  2020-04-06    Washakie     Wyoming  56043.0      4       0      7805.0

[38197 rows x 7 columns]

In [75]:
df_pop_check = df_counties[col_subset].groupby(['state', 'county']).nunique().sort_values(by='POPESTIMATE2019', ascending=False)
df_pop_check[df_pop_check['POPESTIMATE2019']>1]

                    state  county  POPESTIMATE2019
state    county
Virginia Franklin       1       1                2
         Fairfax        1       1                2
Maryland Baltimore      1       1                2
Virginia Richmond       1       1                2
         Roanoke        1       1                2
Missouri St. Louis      1       1                2

In [100]:
covid_df[covid_df['fips']==16077]

Empty DataFrame
Columns: [date, county, state, fips, cases, deaths]
Index: []

# NYT Data

In [103]:
url = "https://raw.githubusercontent.com/nytimes/covid-19-data/master/us-counties.csv"
r = requests.get(url, allow_redirects=True)
filename = "covid_us_counties.csv"
file = open(filename, 'wb')
file.write(r.content)
file.close()
covid_df = pd.read_csv(filename)
len(covid_df)

40720

In [137]:
dropped_indices = covid_df.dropna().index.values
raw_indices = covid_df.index.values
diff_indices = [index for index in raw_indices if index not in dropped_indices]
len(diff_indices)

572

In [142]:
covid_df.loc[diff_indices][['state', 'county']].drop_duplicates(keep='first')

                          state         county
416                    New York  New York City
418                Rhode Island        Unknown
1511                 New Jersey        Unknown
1858                Puerto Rico        Unknown
2267             Virgin Islands        Unknown
2422                       Guam        Unknown
2929                      Maine        Unknown
2950              Massachusetts        Unknown
4003                  Louisiana        Unknown
4680                   Kentucky        Unknown
4828                     Nevada        Unknown
5038                  Tennessee        Unknown
5223                   Arkansas        Unknown
5385                    Georgia        Unknown
5641                   Missouri    Kansas City
5647                   Missouri        Unknown
6570                  Minnesota        Unknown
7215                 California        Unknown
7246                   Colorado        Unknown
7304                    Florida        Unknown
8529                     Hawaii        Unknown
8564                   Illinois        Unknown
9359                    Vermont        Unknown
12759                     Idaho        Unknown
13116                  Michigan        Unknown
13531                      Ohio        Unknown
13860                      Utah        Unknown
14946               Mississippi        Unknown
17074  Northern Mariana Islands        Unknown
18815                  Nebraska        Unknown
19952               Connecticut        Unknown
21353              South Dakota        Unknown
22405                   Indiana        Unknown
26267                    Alaska        Unknown
28574                   Arizona        Unknown
29850                New Mexico        Unknown
29904                  New York        Unknown
30237              Pennsylvania        Unknown
30694                  Virginia        Unknown
32193             New Hampshire        Unknown
38064                Washington        Unknown

In [124]:
len(covid_df[(covid_df['county']=='New York City')&(covid_df['state']=='New York')])

38

In [122]:
na_dropped_places = [(st, cnty) for (st, cnty) in zip(
    covid_df.dropna()[['state', 'county']].drop_duplicates(keep='first').state.values, 
    covid_df.dropna()[['state', 'county']].drop_duplicates(keep='first').state.values
)]

raw_places = [(st, cnty) for (st, cnty) in zip(
    covid_df[['state', 'county']].drop_duplicates(keep='first').state.values, 
    covid_df[['state', 'county']].drop_duplicates(keep='first').state.values
)]
diff_places = [(state, county) for (state, county) in raw_places if (state, county) not in na_dropped_places]
len(diff_places)

4

In [123]:
diff_places

[('Puerto Rico', 'Puerto Rico'),
 ('Virgin Islands', 'Virgin Islands'),
 ('Guam', 'Guam'),
 ('Northern Mariana Islands', 'Northern Mariana Islands')]